@import "tailwindcss";

:root {
  /* Design Colors */
  --beatriz-blue: #0000aa;
  --beatriz-yellow: #FFFF00;
  --beatriz-gray: #D4D4D4;
  --background: var(--beatriz-gray);
  --foreground: #000000;
}

@theme inline {
  --color-beatriz-blue: var(--beatriz-blue);
  --color-beatriz-yellow: var(--beatriz-yellow);
  --color-beatriz-gray: var(--beatriz-gray);

  --font-mono: var(--font-cascadia-code);
  --font-heading: "fractul-variable", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  font-size: 16px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 96px;
  line-height: 1;
}

a {
  font-size: 20px;
}

@keyframes glitch-bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-5px);
  }

  40% {
    transform: translateY(3px);
  }

  60% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-btn:hover .hero-arrow {
  animation: glitch-bounce 1.6s step-end infinite;
}